<ul>
  <li>Tên thương hiệu: <b>{{fullName}}</b></li>
  <li>Email doanh nghiệp: <b>{{email}}</b></li>
  <li>Số điện thoại liên hệ: <b>{{phoneNumber}}</b></li>
  <li>Chức vụ ứng tuyển: <b>{{position}}</b></li>
  <li>Giới thiệu ngắn: <br /> - {{introduction}}</li>
</ul>